body {
	background: url("image/SA_web.jpg");
	color: #020202;
	font-family: Helvetica, sans-serif; 
}
h1 {
	color: #00AAFF;
	text-align: center;
}
h2 {
	color: #0000AA;
}
hr {
	width: 300px;
}
#slogan {
	font-style: italic;
}